src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/db   http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- Load properties FIRST -->
  <configuration-properties file="properties/application-common.yaml"/>
  <configuration-properties file="properties/application-${mule.env}.yaml"/>

  <!-- HTTP listener -->
  <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="df132930-a0e2-4a62-a555-eb4d3617a3ff">
    <http:listener-connection host="${http.listener.host}" port="${http.listener.port}"/>
  </http:listener-config>

  <!-- Database global config (JDBC) -->
  <db:config name="Database_Config" doc:name="Database Config" doc:id="fbb2fdac-578a-4222-8aec-721ca5b3549e">
    <db:generic-connection
        url="${db.url}"
        driverClassName="${db.driver}"
        user="${db.user}"
        password="${env:DB_PASSWORD}"/>
  </db:config>

  <!-- Simple flow to query data -->
  <flow name="demoFlow" doc:id="d0a7624e-5d7d-47cd-b640-1a4b1379548e">
    <http:listener doc:name="Listener" doc:id="311862e6-062a-49f5-bee9-c9be55336fa6" config-ref="HTTP_Listener_config" path="/kb"/>
    <logger level="INFO" doc:name="Logger" message="started....... #[payload]"/>
    <db:select doc:name="Select" config-ref="Database_Config">
      <db:sql><![CDATA[
        SELECT symbol, timestamp, open_price, high_price, low_price, close_price, volume
        FROM market_data
        WHERE symbol = 'NVDA'
        ORDER BY timestamp DESC
        LIMIT 10;
      ]]></db:sql>
    </db:select>
    <ee:transform doc:name="Transform Message">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" message="finished...... #[payload]"/>
  </flow>
</mule>
